*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
	font-size: 16px;
	font-weight: 400;
}
body{
  	position: relative;
  	z-index: auto;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Poppins", sans-serif;
	color: #2a303b;
	line-height: 1.25;
	font-weight: 700; 
}
.mt-10{
	margin-top: 10px; 
}
.mt-15{
	margin-top: 15px; 
}
.mt-20{
	margin-top: 20px;
}
.mt-25{
	margin-top: 25px;
}
.mt-30{
	margin-top: 30px;
}
.mt-35{
	margin-top: 35px; 
}
.mt-40{
	margin-top: 40px; 
}
.mt-45{
	margin-top: 45px; 
}
.mt-50{
	margin-top: 50px; 
}
.mr-10{
	margin-right: 10px; 
}
.mr-15{
	margin-right: 15px; 
}
.mr-20{
	margin-right: 20px; 
}
.mr-25{
	margin-right: 25px; 
}
.mb-10{
	margin-bottom: 10px; 
}
.mb-15{
	margin-bottom: 15px; 
}
.mb-20{
	margin-bottom: 20px; 
}
.mb-25{
	margin-bottom: 25px; 
}
.mb-30{
	margin-bottom: 30px; 
}
.mb-35{
	margin-bottom: 35px; 
}
.mb-40{
	margin-bottom: 40px; 
}
.mb-45{
	margin-bottom: 45px; 
}
.mb-50{
	margin-bottom: 50px; 
}
.ml-10{
	margin-left: 10px; 
}
.ml-15{
	margin-left: 15px; 
}
.ml-20{
	margin-left: 20px; 
}
.ml-25{
	margin-left: 25px; 
}
/* search bar */
.navbar {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
.form-control:focus {
	border-color: #6c757d;
	box-shadow: none;
}
/* property card  */
.card {
	border: none;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease;
}
.card:hover {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
	transform: scale(1.05);
}
.card-img-top {
	height: 150px;
	object-fit: cover;
}
.card-title a {
	color: #343a40;
	text-decoration: none;
}
.card-title a:hover {
	color: #6c757d;
}
.card-footer {
	background-color: #f8f9fa;
	border-top: none;
	text-align: center;
	font-size: 1.2rem;
}
/* about */
.about-us{
	background-color: #aaa;
}
.widget-title{
	color: #fff;
}
.social-info{
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	padding: 10px;
}
/* back to top */
#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}
#back-to-top:hover {
	cursor: pointer;
}
.arrow {
	width: 50px;
	height: 50px;
	font-size: 30px;
	font-weight: 500;
	transition: all 0.3s ease;
	border-radius: 50%;
	background-color: red;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.arrow:hover {
	border-color: #666;
}
/* signin and signup */
.card-header {
	background-color: #fff;
	border-bottom: none;
}

.card-body {
	padding: 15px;
}

.form-group {
	margin-bottom: 20px;
}
.btn-primary {
	background-color: #3f51b5;
	border: none;
	width: 100%;
	transition: all 0.3s ease;
}

.btn-primary:hover {
	background-color: #2c3e50;
}

@media (min-width: 768px) {
	.card {
		max-width: 500px;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	.card {
		margin-bottom: 20px;
	}
}

/* breadcrum */
.breadcrumb-area {
	position: relative;
	z-index: 1;
	height: 190px;
}
.breadcrumb-content {
	position: relative;
	z-index: 1;
}
.breadcrumb-content .breadcrumb {
	padding: 0;
	background-color: transparent;
	margin-bottom: 10px;
}
.breadcrumb-content .breadcrumb .breadcrumb-item {
	color: #ffffff;
}
.breadcrumb-content .breadcrumb .breadcrumb-item a {
	color: #ffffff;
}
.breadcrumb-content .breadcrumb .breadcrumb-item a:hover, .breadcrumb-content .breadcrumb .breadcrumb-item a:focus {
	color: #bd0911;
}
.breadcrumb-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	content: '\f105';
	font-family: "FontAwesome";
	color: #ffffff;
}
.breadcrumb-content .page-title {
	color: #ffffff;
	font-size: 36px;
	margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.breadcrumb-content .page-title {
		font-size: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.breadcrumb-content .page-title {
		font-size: 24px;
	}
}
.breadcrumb-content-two {
	position: relative;
	z-index: 1;
}
.breadcrumb-content-two .breadcrumb {
	padding: 0;
	background-color: transparent;
	margin-bottom: 10px;
}
.breadcrumb-content-two .breadcrumb .breadcrumb-item {
	color: #2a303b;
}
.breadcrumb-content-two .breadcrumb .breadcrumb-item a {
	color: #2a303b;
}
.breadcrumb-content-two .breadcrumb .breadcrumb-item a:hover, .breadcrumb-content-two .breadcrumb .breadcrumb-item a:focus {
	color: #bd0911;
}
.breadcrumb-content-two .breadcrumb .breadcrumb-item.active {
	color: #afb4bf;
}
.breadcrumb-content-two .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	content: '\f105';
	font-family: "FontAwesome";
	color: #afb4bf;
}
.breadcrumb-content-two .page-title {
	color: #2a303b;
	font-size: 36px;
	margin-bottom: 0;
}
.breadcrumb-area-third {
	height: 420px;
	width: 100%;
}
.breadcrumb-area-third .post-meta {
	margin-bottom: 10px;
}
.breadcrumb-area-third .post-meta a {
	color: #ffffff;
	font-size: 16px;
	position: relative;
	z-index: 1;
	margin-right: 20px;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}
.breadcrumb-area-third .post-meta a:hover, .breadcrumb-area-third .post-meta a:focus {
	color: #bd0911;
}
.breadcrumb-area-third .post-meta a::after {
	content: '|';
	position: absolute;
	top: -2px;
	right: -12px;
	z-index: 2;
}
.breadcrumb-area-third .post-meta a:last-child:after {
	display: none;
}
